// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li {
  display: flex;
  background-color: blue;
  color: white;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}

